<h1>Edit This Task </h1>
<hr>
<%= form_for @task do |f| %>
  <%= f.label  "Title*" %></br>
  <%= f.text_field :name %></br></br>
  <%= f.label "Message*" %></br>
  <%= f.text_area :message %></br></br>
  <%= f.label "Weekly or Monthly?*" %>
  <%= f.select :time, ["Weekly", "Monthly"] %></br></br>
  <%= f.label "If Monthly, what day? (Optional)" %></br>
  <%= f.number_field( :day_of_month, in: 1..28) %></br></br>
  <%= f.label "If Weekly, What day? (Optional)" %>
  <%= f.select :day_of_week, Task.day_of_weeks %></br></br>
  <%= f.submit "creat Task", class: 'btn btn-success' %>
<% end %> 