<div class="home-page">
   <% flash.each do |key, value| %>
            <div class="alert alert-success"><%= value %></div>
    <% end %>
  <div class="jumbo">
    <div class="names container">
      <div class="jumbotron boy-tron col-md-5"><h1>Boys</h1>
        <% @boys.each do |boy| %>
          <h5><%= @boy_counter %>: <%= boy.name %>- <%= boy.number %><br></h5>
          <% @boy_counter += 1 %>
        <% end %></div>
        <div class="jumbotron girl-tron col-md-7"><h1>Girls</h1>
        <% @girls.each do |girl| %>
          <h5><%= @girl_counter %>: <%= girl.name %>- <%= girl.number %><br></h5>
          <% @girl_counter += 1 %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <span class="col-md-5">
      <%= form_for Message.new do |f| %>
        <h3><%= f.label "Send a quick message to everyone" %></h3>
        <%= f.text_area :message %><br><br>
        <%= f.submit "Send", class: 'btn btn-success'%>
      <% end %>
    </span>
    <span class="col-md-5">
      <%= form_for @team do |f| %>
        <h3><%= f.label "Weekly events" %></h3>
        <%= f.check_box :weekly_reminder_enabled, data: {toggle: 'toggle', onstyle: 'success'}, id: 'weekly-reminder' %>
        <%= f.submit "Save" %>
      <% end %><br>
    </span> 
  </div><br>
  <div class="jumbo">
    <div class="container jumbotron">
      <h2>Your Current Tasks</h2><br>
      <% @tasks.each do |task| %>
        <div class="container col-md-4">
         <!-- <div class="container"> -->
          <h3 class="panel-title"><%= task.name %><h3>
          <h5><%= task.time %></h5>  
          <%= link_to "View Task", task_path(task), class: 'btn btn-success' %><hr>
        <!-- </div> -->
        </div>  
      <% end %>  
    </div>
  </div>    

</div>



<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js">
  $('#weekly-reminder').change(function(){
    var url = 'teams/update/'+
    var data = {"checkbox": $(this).checked}
    $.post(url, data)
  })
</script>
