<div class="jumbotron row">
  <span class="col-md-5"><h1>Boys</h1>
  <% @boys.each do |boy| %>
    <h5><%= @boy_counter %>: <%= boy.name %>- <%= boy.number %><br></h5>
    <% @boy_counter += 1 %>
  <% end %></span>
  <span class="col-md-5"><h1>Girls</h1>
  <% @girls.each do |girl| %>
    <h5><%= @girl_counter %>: <%= girl.name %>- <%= girl.number %><br></h5>
    <% @girl_counter += 1 %>
  <% end %></span> 


</div>
  <br><br><%= form_for Message.new do |f| %>
  <%= f.label "Send them all a message" %><br>
  <%= f.text_area :message %><br>
  <%= f.submit "Send"%>
  <% end %>

